<div id="<%= dom_id module_name %>">
   <tr>
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
      <%= module_name.name %>
    </td>

    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <%= link_to 'Edit', edit_class_name_module_name_path(module_name.class_name_id,module_name),class:"inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"%>
        <%= link_to "Details",class_name_module_name_levels_path(module_name.class_name_id,module_name.id),class:"inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"%>
    </td>
  </tr>
</div>
