<div class="container mt-4 ">
        <div class="row text-center">
            <div class=" text-center mt-1 pull-right col-xs-12"><h6 id="hadding">PLEASE CHOOSE THE TYPE OF TEST</h6>
            </div>
        </div>
        <div class="row mt-3">
            <div class=" col-md-6 col-sm-6 col-xs-12 col-lg-6 col-xl-6 box" style="line-height: 0.5em;"><br>
                <sapn class="text space">1. They</sapn> <input type="text" style="width: 40%; height:19%;" placeholder="Enter here"/> <sapn class="text"> (Study)</sapn>
                <br><br>
                <sapn class="text">2. She</sapn> <input type="text" style="width: 40%; height:19%;" placeholder="Enter here"/> <sapn class="text"> (Watch)</sapn>
                <br><br>
                <sapn class="text">3. What</sapn> <input type="text" style="width: 40%; height:19%;" placeholder="Enter here"/> <sapn class="text"> (You /re)</sapn>
                <br><br>
            </div>
            <div class=" col-md-6 col-sm-6 col-xs-12 col-lg-6 col-xl-6 box" style="line-height: 1em;"><br>
                <span class="firstrow">Fill-in-the-blank exercise : </span><span class="firstrows">The user must type their answer on the keyboard.</span> </span>
                <span class="firstrows">Example of questionnaire : 	I_________(be present) happy</span><br>
                <span class="firstroww"><a href=""><u>Select this type of test</u></a></span> <span class="firstrow"></span>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-6 col-sm-6 col-xs-12 col-lg-6 col-xl-6 box" style="line-height: 0.5em;"><br>
                <span class="firstrows">1. Who is Mr Vladi ? </span>&nbsp;&nbsp;&nbsp;<select class="demo"><option value="" >Someone who sells Cars</option></select>
                <br>
                <span class="firstrows">2. Why do this customers buy islands ?</span><br>
                <span class="firstrows">3. What can you buy for one hundred and fifty thousands</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<select class="demo"><option value="" >0 ten square-metre beach</option>></select><br>
            </div>
            <div class=" col-md-6 col-sm-6 col-xs-12 col-lg-6 col-xl-6 box" style="line-height: 0.5em;"><br>
                <span class="firstrow">Test with drop-down menu - several different answers </span><span class="firstrows">per question: one right and some wrong.</span><br>
                <span class="firstrows">It is the ideal test for MCQs (Multiple Choice Questionnaires).</span><br>
                <span class="firstrows">Example of questionnaire:</span><br>
                <span class="firstrows">Question 1: What is the capital of France? Paris, Marseilles, Dijon?</span><br>
                <span class="firstrows">Question 2: What is the currency of France? The euro, the franc, the dollar? </span><br>
                <span class="firstrows">(the answers are different for each question)</span><br>
                <span class="firstrows">You cand put 1 to 3 false alternative answers</span><br>
                <span class="firstroww"><a href=""><u>Select this type of test </u></a></span>
                <span class="firstrow"></span><br><br>
            </div>
        </div>

       

       

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 col-xl-6 box">
            <b>1. <span class="boxfive">garden there are apple trees three</span></b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="width: 40%; height:20%;" placeholder="Enter here"/><br>
            <b>2. <span class="boxfive">the an there restaurant ltalian is ?</span></b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="width: 40%; height:20%;" placeholder="Enter here"/>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 col-xl-6 box"style="line-height: 0.5em;"><br><br>
                <span class="firstrow">Put a sentence in the correct order.</span><br>
                <span class="firstrows">The words of the sentence have been mixed up. The user clicks on the different elements, in the correct order, and the sentence is reconstituted below.</span><br>
                <span class="firstroww"><a href=""><u>Select this type of test </u></a></span>
                <span class="firstrow"></span><br>
            </div>
        </div>





       

        <div class="row mb-5 ">
       
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 col-xl-6 box">
        <fieldset class="mt-4">
          <legend class="sr-only">Notification method</legend>
          <div class="space-y-4">
            <div class="flex items-center">
              <input id="email" name="notification-method" type="radio" checked class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
              <label for="email" class="ml-3 block text-sm font-medium text-gray-700"> Email </label>
            </div>
      
            <div class="flex items-center">
              <input id="sms" name="notification-method" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
              <label for="sms" class="ml-3 block text-sm font-medium text-gray-700"> Phone (SMS) </label>
            </div>
      
            <div class="flex items-center">
              <input id="push" name="notification-method" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
              <label for="push" class="ml-3 block text-sm font-medium text-gray-700"> Push notification </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 col-xl-6 box"style="line-height: 0.5em;"><br><br>
                <span class="firstrow">Put a sentence in the correct order.</span><br>
                <span class="firstrows">The words of the sentence have been mixed up. The user clicks on the different elements, in the correct order, and the sentence is reconstituted below.</span><br>
                <span class="firstroww"><a href=""><u>Select this type of test </u></a></span>
                <span class="firstrow"></span><br>
        </div>
      
        </div>

        

    </div>
    </div>